<div class="total">
    <div class="lateral box">
        <img src="../../../assets/register.jpg"> 
    </div>
    <div class="contenedor">
        <div>
            <form [formGroup]="formSelection">
                <label class="negrilla">Tipo de Usuario: </label>
                <mat-radio-group [formControl]="controlOptions">
                    <mat-radio-button value="user">Usuario</mat-radio-button>
                    <mat-radio-button value="artist">Artista</mat-radio-button>
                </mat-radio-group>
            </form>
        </div>
        <hr>
        <div *ngIf="controlOptions.value === 'user'">
            <form [formGroup]="formUser">
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <mat-card-content>
                        <div>
                            <mat-form-field class="input_text" appearance="outline">
                                <mat-label>Nombre Usuario</mat-label>
                                <input formControlName="name" matInput type="text" placeholder="Nombre Usuario" />
                            </mat-form-field>
                            <mat-error *ngIf="formUser.get('name').invalid && (formUser.get('name').touched || 
                                formUser.get('name').dirty)">El campo es requerido</mat-error>
                        </div>

                        <div>
                            <mat-form-field class="input_text" appearance="outline">
                                <mat-label>Apellido Usuario</mat-label>
                                <input formControlName="surname" matInput type="text" placeholder="Apellido Usuario" />
                            </mat-form-field>
                            <mat-error *ngIf="formUser.get('surname').invalid && (formUser.get('surname').touched || 
                                formUser.get('surname').dirty)">El campo es requerido</mat-error>
                        </div>

                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email" matInput type="text" placeholder="Email" />
                                </mat-form-field>
                                <mat-error *ngIf="formUser.get('email').invalid && (formUser.get('email').touched || 
                                    formUser.get('email').dirty)">El campo es requerido y debe ser xxxx@xxx.uniajc.edu.co</mat-error>
                            </div>
                        </div>
        
                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input formControlName="password" matInput type="text" placeholder="Password"/>
                                </mat-form-field>
                                <mat-error *ngIf="formUser.get('password').invalid && (formUser.get('password').touched || 
                                    formUser.get('password').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>

                        <div>
                            <label class="negrilla">Generos Preferencia: </label>
                            <section>
                                <div class="genre_left">
                                    <div>
                                        <mat-checkbox formControlName="salsa">Salsa</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="vallenato">Vallenato</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="bachata">Bachata</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="clasica">Clasica</mat-checkbox>
                                    </div>
                                </div>
                                <div class="genre_right">
                                    <div>
                                        <mat-checkbox formControlName="regueton">Regueton</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="pop">Pop</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="balada">Balada</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="rock">Rock</mat-checkbox>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                    <mat-card-actions>
                        <div>
                            <button mat-raised-button class="button_register"
                                (click)="register()">Registrarme
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
        <div *ngIf="controlOptions.value === 'artist'">
            <form [formGroup]="formArtist">
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <mat-card-content>
                        <div>
                            <mat-form-field class="input_text" appearance="outline">
                                <mat-label>Nombre Usuario</mat-label>
                                <input formControlName="name" matInput type="text" placeholder="Nombre Usuario" />
                            </mat-form-field>
                            <mat-error *ngIf="formArtist.get('name').invalid && (formArtist.get('name').touched || 
                            formArtist.get('name').dirty)">El campo es requerido</mat-error>
                        </div>

                        <div>
                            <mat-form-field class="input_text" appearance="outline">
                                <mat-label>Apellido Usuario</mat-label>
                                <input formControlName="surname" matInput type="text" placeholder="Apellido Usuario" />
                            </mat-form-field>
                            <mat-error *ngIf="formArtist.get('surname').invalid && (formArtist.get('surname').touched || 
                            formArtist.get('surname').dirty)">El campo es requerido</mat-error>
                        </div>

                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email" matInput type="text" placeholder="Email" />
                                </mat-form-field>
                                <mat-error *ngIf="formArtist.get('email').invalid && (formArtist.get('email').touched || 
                                formArtist.get('email').dirty)">El campo es requerido y debe ser xxxx@xxx.uniajc.edu.co</mat-error>
                            </div>
                        </div>
        
                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input formControlName="password" matInput type="text" placeholder="Password"/>
                                </mat-form-field>
                                <mat-error *ngIf="formArtist.get('password').invalid && (formArtist.get('password').touched || 
                                    formArtist.get('password').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>

                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Celular</mat-label>
                                    <input formControlName="cellphone" matInput type="text" placeholder="Cellphone"/>
                                </mat-form-field>
                                <mat-error *ngIf="formArtist.get('cellphone').invalid && (formArtist.get('cellphone').touched || 
                                    formArtist.get('cellphone').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>

                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Descripción</mat-label>
                                    <textarea formControlName="description" matInput type="text" placeholder="Descripción"></textarea>
                                </mat-form-field>
                                <mat-error *ngIf="formArtist.get('description').invalid && (formArtist.get('description').touched || 
                                    formArtist.get('description').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>

                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Instagram (Opcional)</mat-label>
                                    <input formControlName="instagram" matInput type="text" placeholder="Instagram"/>
                                </mat-form-field>
                                <mat-error *ngIf="formArtist.get('instagram').invalid && (formArtist.get('instagram').touched || 
                                    formArtist.get('instagram').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>

                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Twitter (Opcional)</mat-label>
                                    <input formControlName="twitter" matInput type="text" placeholder="Twitter"/>
                                </mat-form-field>
                                <mat-error *ngIf="formArtist.get('twitter').invalid && (formArtist.get('twitter').touched || 
                                    formArtist.get('twitter').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>

                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Facebook (Opcional)</mat-label>
                                    <input formControlName="facebook" matInput type="text" placeholder="Facebook"/>
                                </mat-form-field>
                                <mat-error *ngIf="formArtist.get('facebook').invalid && (formArtist.get('facebook').touched || 
                                    formArtist.get('facebook').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>

                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                    <mat-card-actions>
                        <div>
                            <button mat-raised-button class="button_register"
                                (click)="register()">Registrarme
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>
