.total {
    width: 100%;
    height: 100%;
}

.fondo-nav {
    background: #1C1C1F;
}

.title {
    font-weight: bold;
    margin-top: 10px;
}

.user-button {
    border-radius: 20px;
    height: 57px;
    width: 57px;
    overflow: hidden;
}

.user-image {
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    margin-left: 20px;
    overflow: hidden;
}

.card-space {
    margin-left: 50px;
    margin-top: 20px;
}

.centrar {
    justify-content: center;
}

.bold-text {
    font-weight: bold;
}

.center {
    margin-left: 10%;
}

.buttons {
    text-align: center;
}

.fondo {
    background: #899384;
}