<div class="form_center">
    <h1 class="bold_text">Redes Sociales</h1>
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field appearance="outline" class="form_parametrico">
                <mat-label>Twitter</mat-label>
                <input formControlName="twitter" matInput type="text" placeholder="Twitter" />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="form_parametrico">
                <mat-label>Instagram</mat-label>
                <input formControlName="instagram" matInput type="text" placeholder="Instagram" />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="form_parametrico">
                <mat-label>Facebook</mat-label>
                <input formControlName="facebook" matInput type="text" placeholder="Facebook" />
            </mat-form-field>
        </div>
    </form>
</div>