.form_parametrico {
    display: block;
}

.form_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 100%;
}

.bold_text {
    font-weight: bold;
}