<div class="row total">
    <div class="col-lg-2 fondo-nav">
        <app-header [image]="url"></app-header>
    </div>
    <div class="col-lg-10">
        <div>
            <form [formGroup]="formUser">
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <mat-card-content>
                        <div>
                            <mat-form-field class="input_text" appearance="outline">
                                <mat-label>Nombre Usuario</mat-label>
                                <input formControlName="name" matInput type="text" placeholder="Nombre Usuario" />
                            </mat-form-field>
                            <mat-error *ngIf="formUser.get('name').invalid && (formUser.get('name').touched || 
                            formUser.get('name').dirty)">El campo es requerido</mat-error>
                        </div>
    
                        <div>
                            <mat-form-field class="input_text" appearance="outline">
                                <mat-label>Apellido Usuario</mat-label>
                                <input formControlName="surname" matInput type="text" placeholder="Apellido Usuario" />
                            </mat-form-field>
                            <mat-error *ngIf="formUser.get('surname').invalid && (formUser.get('surname').touched || 
                            formUser.get('surname').dirty)">El campo es requerido</mat-error>
                        </div>
    
                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email" matInput type="text" placeholder="Email" />
                                </mat-form-field>
                                <mat-error *ngIf="formUser.get('email').invalid && (formUser.get('email').touched || 
                                formUser.get('email').dirty)">El campo es requerido y debe ser xxxx@xxx.uniajc.edu.co
                                </mat-error>
                            </div>
                        </div>
    
                        <div>
                            <div class="col-xs">
                                <mat-form-field class="input_text" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input formControlName="password" matInput type="text" placeholder="Password" />
                                </mat-form-field>
                                <mat-error *ngIf="formUser.get('password').invalid && (formUser.get('password').touched || 
                                formUser.get('password').dirty)">El campo es requerido</mat-error>
                            </div>
                        </div>
    
                        <div class="row">
                            <label class="negrilla">Generos Preferencia: </label>
                            <section>
                                <div class="col-lg-6 genre_left">
                                    <div>
                                        <mat-checkbox formControlName="latina">Latina</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="reggae">Reggae</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="clasica">Clasica</mat-checkbox>
                                    </div>
                                </div>
                                <div class="col-lg-6 genre_right">
                                    <div>
                                        <mat-checkbox formControlName="pop">Pop</mat-checkbox>
                                    </div>
                                    <div>
                                        <mat-checkbox formControlName="rock">Rock</mat-checkbox>
                                    </div>
                                </div>
                            </section>
                        </div>
    
                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                    <mat-card-actions>
                        <div *ngIf="user !== null">
                            <img src="{{ url }}" class="user-image">
                        </div>
                        <div>
                            <p>
                                <label>Sube tu foto: </label><br>
                                <input type="file" placeholder="Subir imagen" (change)="fileChaneEvent($event)">
                            </p>
                        </div>
                        <div>
                            <button mat-raised-button class="button_update" (click)="updateUser($event)">Actualizar</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>