.album-image {
    float: left;
    width: 138px;
    height: 119px;
    overflow: hidden;
}

#play-image-album {
    height: 100%;
}

.audio-file {
    width: 85%;
    height: 40px;
    margin-top: 24px;
    margin-left: 10px;
    float: left;
}

audio {
    width: 90%;
    height: 50px;
}